[submodule "android/libcore"]
	path = android/libcore
	url = ../avian-pack.android.libcore.git
	branch = avian-pack
[submodule "android/bionic"]
	path = android/bionic
	url = ../avian-pack.android.bionic.git
	branch = avian-pack
[submodule "android/libnativehelper"]
	path = android/libnativehelper
	url = ../avian-pack.android.libnativehelper.git
	branch = avian-pack
[submodule "android/openssl-upstream"]
	path = android/openssl-upstream
	url = ../avian-pack.android.openssl-upstream.git
	branch = avian-pack
[submodule "android/system/core"]
	path = android/system/core
	url = ../avian-pack.android.system.core.git
	branch = avian-pack
[submodule "android/external/fdlibm"]
	path = android/external/fdlibm
	url = ../avian-pack.android.external.fdlibm.git
	branch = avian-pack
[submodule "android/external/icu4c"]
	path = android/external/icu4c
	url = ../avian-pack.android.external.icu4c.git
	branch = avian-pack
[submodule "android/external/openssl"]
	path = android/external/openssl
	url = ../avian-pack.android.external.openssl.git
	branch = avian-pack
[submodule "android/external/zlib"]
	path = android/external/zlib
	url = ../avian-pack.android.external.zlib.git
	branch = avian-pack
[submodule "avian"]
	path = avian
	url = ../avian-pack.avian
	branch = avian-pack
[submodule "android/external/conscrypt"]
	path = android/external/conscrypt
	url = ../avian-pack.android.external.conscrypt.git
